@model IEnumerable<Biblioteca_ProyectoBDII.Models.Autor>

@{
    ViewData["Title"] = "Lista de Autores";
}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h4 class="m-0 font-weight-bold text-white">@ViewData["Title"]</h4>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <a asp-action="Create" class="btn btn-success ">Crear</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreAutor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaCreacion)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreAutor)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaCreacion)
                                </td>
                                <td>
                                        <a asp-action="Edit" asp-route-id="@item.IdAutor" class="btn btn-success">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.IdAutor" class="btn btn-primary">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.IdAutor" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
